<div class="container">
  <h1>Jämför Partier</h1>
  <p>Se hur ofta två partier röstar likadant. Grafen visar antal procent av voteringar som partierna röstat lika i per år.</p>
  <i>Välj partier:</i>
  <div class="row" style="margin-top: 5px">
    <div class="col-12 col-md-2">
      <mat-form-field style="display: table; margin: auto;">
        <mat-select placeholder="Parti 1" [(value)]="partyOne" (selectionChange)="changedSelect($event)">
          <mat-option *ngFor="let party of parties" [value]="party.abbr">
            {{party.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-2">
      <mat-form-field style="display: table; margin: auto;">
        <mat-select placeholder="Parti 2" [(ngModel)]="partyTwo" (selectionChange)="changedSelect($event)">
          <mat-option *ngFor="let party of parties" [value]="party.abbr">
            {{party.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div style="display: block; position: relative; width: 100%; min-height: 65vh">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                chartType="line"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

</div>
