<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <mat-card class="example-card" style="margin-bottom: 10px">
        <mat-card-header>
          <div mat-card-avatar style="background-size: cover" [style.backgroundImage]="'url(/assets/parties/'+ member.party +'.jpg)'"></div>
          <mat-card-title>{{member.name}}</mat-card-title>
          <mat-card-subtitle>{{getParty(member.party)}} - {{member.valkrets}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="max-height: 500px; object-fit: cover;" [src]="member.imageURL" alt="Probably a photo of an old white dude">
        <mat-card-content>
          <div class="row justify-content-md-center mb-3">
            <div class="col-6 col-md-5 d-flex flex-row">
              <i style="vertical-align:middle;" class="material-icons md-36 mr-2">thumb_up</i>
              <div>
                <b>Ja</b>
                <br>
                {{member.percJa || 0}}% ({{member.aggregate_votes.Ja || 0}})
              </div>
            </div>
            <div class="col-6 col-md-5 d-flex flex-row">
              <i style="vertical-align:middle;" class="material-icons md-36 mr-2">thumb_down</i>
              <div>
                <b>Nej</b>
                <br>
                {{member.percNej || 0}}% ({{member.aggregate_votes.Nej || 0}})
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-6 col-md-5 d-flex flex-row">
              <i style="vertical-align:middle;" class="material-icons md-36 mr-2">clear</i>
              <div>
                <b>Avstår</b>
                <br>
                {{member['percAvstår'] || 0}}% ({{member.aggregate_votes['Avstår'] || 0}})
              </div>
            </div>
            <div class="col-6 col-md-5 d-flex flex-row">
              <i style="vertical-align:middle;" class="material-icons md-36">beach_access</i>
              <div>
                <b>Frånvaro</b>
                <br>
                {{member['percFrånvarande'] || 0}}% ({{member.aggregate_votes['Frånvarande'] || 0}})
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
