<div style="text-align:center;">
  <h1>
    Min Riksdag
  </h1>
  <h3 style="color:grey">Statistik över partier och voteringar i riksdagen</h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Sveriges Riksdag</h3>
            <p> Varje år sker det ca 500 omröstningar i Sveriges riksdag. Förr var det omöjligt att hänga med alla beslut som Sveriges 349 riksdagsledamot fattade. Men nu med hjälp av riksdagens öppna data är det lätt att sammanställa alla omröstningar från och med år 2003. I webbtjänsten Min Riksdag har du möjlighet att analysera och jämföra hur partierna skiljer sig åt.
                Tjänsten är framtagen som ett delmoment i kursen  EDAF90 Webbprogrammering på LTH.
        </div>
        <div class="col-lg-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Riksdagen_new.svg/360px-Riksdagen_new.svg.png" style="width:80%; height:auto">
        </div>
    </div>
</div>


<div class="bg-light" style="padding-top: 10px; padding-bottom: 10px">
    <div class="container mt-3">
        <div class="row mt-3">
            <div class="col-lg-6 ">
                <a class="rip" routerLink="/riksdag" routerLinkActive="active">
                  <img src="https://www.know.cf/imgw/450px/Coat_of_arms_of_the_Swedish_Parliament.svg" style="width:40%; height:auto">
                </a>
            </div>
            <div class="col-lg-6">
                <h3>Statistik över partierna</h3>
                <p>Välj ett av riksdagspartierna och få statistik över hur partiet som helhet
                har röstat i riksdagen voteringar. Statistiken presenteras i procent där du kan se hur stor andel
                av voteringarna som partiet har röstat ja, nej, blankt samt varit frånvarande.
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-6">
            <h3>Jämför partier</h3>
            <p>Jämför två olika partier och se hur ofta de röstat lika. Datan presenteras i en graf som visar
            i procent hur stor andel av voteringarna de olika partierna röstat lika över tid.
        </div>
        <div class="col-lg-6">
            <a class="rip" routerLink="/riksdag" routerLinkActive="active">
              <img src="https://www.tidningenleva.se/files/2018/06/partier.jpg" style="width:auto; height:80%">
            </a>
        </div>
    </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row pt-3">
          <h3>Källa: <a href="https://data.riksdagen.se/">Riksdagens öppna data </a></h3>

      </div>
  </div>
</div>
